# Coverage configuration for MCTS project

[run]
source = mcts
omit = 
    */tests/*
    */test_*
    */__pycache__/*
    */build/*
    */dist/*
    */venv/*
    */env/*
    setup.py
    */quantum/research/*
    */quantum/legacy/*
    */experiments/*
    */benchmarks/*

branch = true
parallel = true

[report]
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover
    
    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug
    
    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError
    
    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:
    
    # Don't complain about abstract methods
    @(abc\.)?abstractmethod
    
    # Don't complain about platform specific code
    pragma: platform
    
    # Don't complain about deprecated code
    @deprecated
    
precision = 2
show_missing = true
sort = Cover
skip_covered = false

[html]
directory = htmlcov
title = MCTS Test Coverage Report

[xml]
output = coverage.xml